@{
    Layout = "_Layout";
    @model Pizza

}

<div class="container d-flex justify-content-center my-5">
    <div class="card mx-2" style="width: 18rem;">
        <img class="card-img-top" style="height: 160px" src="@Model.Image" alt="@Model.Name">
        <div class="card-body">
            <h5 class="card-title">Pizza: @Model.Name</h5>
            <p class="card-text">Ingredienti: @Model.Description</p>
            <p class="card-text">Prezzo: &euro; @Model.Price</p>
            <a href="@Url.Action("Index")" class="btn btn-warning w-100">Indietro</a>
        </div>
    </div>
</div>

   
    
      