@{
    Layout = "_Layout";

    @model List<Pizza>

    bool isEmpty = !Model.Any();
}

<h1 class="my-4"cl>Le pizze:</h1>

<div class="d-flex">

@{
    if(!isEmpty){
        
    foreach (Pizza pizza in Model)
    {

        <div class="card mx-2" style="width: 15rem;">
            <img class="card-img-top" style="height: 160px" src="@pizza.Image" alt="@pizza.Name">
            <div class="card-body">
                <h5 class="card-title">Pizza: @pizza.Name</h5>
                <p class="card-text">Ingredienti: @pizza.Description</p>
                <p class="card-text">Prezzo: &euro; @pizza.Price<p>
                <a href="@Url.Action("Detail", "Pizza", new {id = pizza.PizzaId})" class="btn btn-primary">Vedi dettaglio</a>
            </div>
        </div>

    }
    }else{
            <h3>Non ci sono pizze da mostrare</h3>
    }
}
</div>
   
    
      